#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #050B21;
}

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}
.card {
  width: 19rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
background-color:#1F2535 ;
}
.firstPart{
display: flex;
align-items: flex-start;
gap: 1rem;
}
.imageWrap {
display:block;
max-width: 100px;
height: auto;
margin: 0;
padding:0;
}

.firstQuart{
  text-align: left;
  margin: 1rem;
  margin-top: 0rem;
}
.lastPart {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
}
.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;

}
.allCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 10 px;
}
.buttonMain {
  background-color: #525768;
  gap: 2rem;
  margin: 2px;
  padding: 2 px;
  border-radius: 5rem;
  cursor: pointer;
}
.buttonMain:hover {
  background-color: #F15B56;
  cursor: pointer;
}
.other:hover{
  background-color: #535766;
  color: white;
 
}
.other {
background-color: #2F354A;
border-radius: 5rem;
margin:2px
}
.button {
  gap: 2rem;
  margin: 2rem;
  border-radius: 5rem;
}

@media (max-width: 600px) {
  .allCards {
    display: grid;
    grid-template-columns: 1fr;
  };